parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\Presentation\Api\**Endpoint
        ApiV1: App\Presentation\Api\V1\*Endpoint


database:
    dsn: 'sqlite::memory:'
    user:
    password:


latte:
    strictTypes: yes
    strictParsing: yes


di:
    export:
        parameters: no
        tags: no

extensions:
    apiRouter: Contributte\ApiRouter\DI\ApiRouterExtension
